*{
    overflow: hidden;
}

.main_container{
    height: 550px;
    width: 1430px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_container{
    height: 515px;
    width: 660px;
    border: 4.75px solid #b0b9f7;
    border-radius: 30px;
    padding-top: 19px;
    background-color: #fff;
}

#head{
    color: blue;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 32px;
    font-weight: bold;
}

#head2{
    color: black;
    font-size: 23px;
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 32px;
    padding-top: 12px;
}

#f_name{
    font-size: 20px;
    border-radius: 6.4px;
    border: 2px solid gray;
    padding: 8px;
}

#l_name{
    font-size: 20px;
    border-radius: 6.4px;
    border: 2px solid gray;
    padding: 8px;
}


#f_icon{
    font-size: 21px;
    color: red;
    opacity:0;
}


#f_icon2{
    font-size: 21px;
    color: red;
    opacity:0;   
}

.one{
    display: flex;
    padding-left: 29px;
}

.two{
    padding-left: 29px;
}

#f_icon3{
    font-size: 21px;
    color: red;
    opacity:0;   
}

#mob_num{
    font-size: 20px;
    border-radius: 6.4px;
    padding: 8px;
    width: 570px;
    border: 2px solid gray;
}

.three{
    padding-left: 29px;
}

#f_icon4{
    font-size: 21px;
    color: red;
    opacity:0;   
}

#email_num{
    font-size: 20px;
    border-radius: 6.4px;
    padding: 8px;
    width: 570px;
    border: 2px solid gray;
}

.four{
    padding-left: 29px;
}

#f_icon5{
    font-size: 21px;
    color: red;
    opacity:0;   
}

#pass_num{
    font-size: 20px;
    border-radius: 6.4px;
    padding: 8px;
    width: 570px;
    border: 2px solid gray;
}

.head3{
    padding-left: 22px;
}

.five{
    display: flex;
    justify-content: space-evenly;
}

#sign_up{
    background-color: #10d90d;
    color: white;
    font-size: 25px;
    border-radius: 7px;
    padding: 8px;
    font-weight: bold;
    width: 250px;
}

#bck{
    background-color: black;
    color: white;
    font-size: 25px;
    border-radius: 7px;
    padding: 9px;
    font-weight: bold;
    width: 250px;
}

#sign_up:hover{
    transform: scale(0.98787);
}

input:focus{
    outline: none;
}











